body, html {
    height: 100%;
    overflow-x: hidden; 
    overflow-y: hidden;
}

*{
    font-family: tahoma;
}

.bg{
    background-image: url("../public/winxpwallpaper.jpg");
    background-color: darkslategrey;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover{
    height: 100%;
}

.no-padding{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

.no-margin{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/*navbar styles*/

.no-margin-navbar{
    margin-top: -4px;
    margin-bottom: -3px;
    margin-left: -7px;
}

.navbar{
    background-color: #265DDC;
    /*Shadow*/
    -webkit-box-shadow: 0px -4px 16px -1px rgba(0,0,0,1); 
    box-shadow: 0px -4px 16px -1px rgba(0,0,0,1);
    /*Inset Shadow*/
    -webkit-box-shadow: inset 0px 8px 10px -1px rgba(255,255,255,0.3); 
    box-shadow: inset 0px 8px 10px -1px rgba(255,255,255,0.3);
}

.start-btn{
    cursor: pointer;
}

.dropup-content{
    height: 60vh;
    width: 30vw;
    min-width: 400px !important;
    padding: 3px;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;

    background: rgba(19,97,199,1);
    background: -moz-linear-gradient(top, rgba(19,97,199,1) 0%, rgba(107,172,247,1) 23%, rgba(107,172,247,1) 79%, rgba(19,97,199,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,97,199,1)), color-stop(23%, rgba(107,172,247,1)), color-stop(79%, rgba(107,172,247,1)), color-stop(100%, rgba(19,97,199,1)));
    background: -webkit-linear-gradient(top, rgba(19,97,199,1) 0%, rgba(107,172,247,1) 23%, rgba(107,172,247,1) 79%, rgba(19,97,199,1) 100%);
    background: -o-linear-gradient(top, rgba(19,97,199,1) 0%, rgba(107,172,247,1) 23%, rgba(107,172,247,1) 79%, rgba(19,97,199,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,97,199,1) 0%, rgba(107,172,247,1) 23%, rgba(107,172,247,1) 79%, rgba(19,97,199,1) 100%);
    background: linear-gradient(to bottom, rgba(19,97,199,1) 0%, rgba(107,172,247,1) 23%, rgba(107,172,247,1) 79%, rgba(19,97,199,1) 100%);

    -webkit-box-shadow: inset 0px 4px 2px 0px rgba(255,255,255,0.31); 
    box-shadow: inset 0px 4px 2px 0px rgba(255,255,255,0.31);
}

.start-title{
    width: 100%;
    color: white;
    vertical-align: top;
    font-size: 15px;
    text-shadow: 2px 2px 9px rgba(0,0,0,0.5);
    margin: 5px;
}

.start-title>div{
    display: inline-block;
    vertical-align: middle;
}

.start-title-img{
    padding: 4px;
    border-radius: 7%;
    background-color: grey;
    margin-right: 5px;
    background: #CECECE;
    background: -moz-linear-gradient(top, #CECECE 0%, #8C8C8C 100%);
    background: -webkit-linear-gradient(top, #CECECE 0%, #8C8C8C 100%);
    background: linear-gradient(to bottom, #CECECE 0%, #8C8C8C 100%);
}

.start-title-img>img{
    border-radius: 7%;
    background-color: grey;
}

.start-linklist-left{
    display: inline-block;
    width: 50%;
    height: 75%;
    overflow: scroll;
    margin-right: -4px;
    background-color: rgb(255, 255, 255);
    vertical-align: top;
}
.start-linklist-right{
    display: inline-block;
    width: 50%;
    height: 75%;
    overflow: scroll;
    margin-right: -4px;
    background-color: rgb(203, 227, 255);
    vertical-align: top;
}

.start-span{
    background: #CECECE;
    background: -moz-linear-gradient(left, #CECECE 15%, #FF7B00 50%, #CECECE 85%);
    background: -webkit-linear-gradient(left, #CECECE 15%, #FF7B00 50%, #CECECE 85%);
    background: linear-gradient(to right, #CECECE 15%, #FF7B00 50%, #CECECE 85%);
    width: 100%;
    height: 2px;
}

.start-footer{
    width: 100%;
    margin-right: -4px;
}
.start-option{
    padding: 8px;
}

.start-option{
    color: black;
    font-size: 14px;
}

.start-link:link {
    text-decoration: none;
    color: black;
}
  
.start-link:visited {
    text-decoration: none;
    color: black;
}

.start-link:hover {
    text-decoration: none;
    color: black;
}

.start-link:active {
    text-decoration: none;
    color: black;
}

.start-option:hover{
    background-color: #265DDC;
    font-weight: bold;
    text-decoration: none;
}

.start-option > *{
    vertical-align: middle;
}